@import "../node_modules/sass-true/sass/true";
@import "../generateShades";

@include describe("generate-shades [function]") {
  @include it("returns darker colors") {
    $result: generate-shades($n: 10, $color: hsl(0deg 0% 100%), $type: "darker");
    $expected: (
      hsl(0deg 0% 90%)
      hsl(0deg 0% 80%)
      hsl(0deg 0% 70%)
      hsl(0deg 0% 60%)
      hsl(0deg 0% 50%)
      hsl(0deg 0% 40%)
      hsl(0deg 0% 30%)
      hsl(0deg 0% 20%)
      hsl(0deg 0% 10%)
      hsl(0deg 0% 0%));

    @include assert-equal($result, $expected);
  }

  @include it("returns lighter colors") {
    $result: generate-shades($n: 10, $color: hsl(0deg 0% 0%), $type: "lighter");
    $expected: (
      hsl(0deg 0% 10%)
      hsl(0deg 0% 20%)
      hsl(0deg 0% 30%)
      hsl(0deg 0% 40%)
      hsl(0deg 0% 50%)
      hsl(0deg 0% 60%)
      hsl(0deg 0% 70%)
      hsl(0deg 0% 80%)
      hsl(0deg 0% 90%)
      hsl(0deg 0% 100%));

    @include assert-equal($result, $expected);
  }
}
